<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Icon</key>
	<string>TemplateIcon</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Common template for creating MVVM</string>
	<key>Summary</key>
	<string>Используйте этот шаблон для добавления MVVM архитектуры с моками</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Screen</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Короткое название экрана (Feedback):</string>
			<key>Description</key>
			<string>Название экрана стрима</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Screen</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>cleanSwift</string>
			<key>Name</key>
			<string>Добавить +VIP</string>
			<key>Description</key>
			<string>Добавляет экран Clean Swift</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
	</array>
</dict>
</plist>
