//
//  Config.xcconfig
//  Tорт&Land
//
//  Created by Dmitriy Permyakov on 11.05.2025.
//  Copyright © 2025 https://github.com/mightyK1ngRichard. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

NETWORK_IP=192.168.1.44

PORT_CAKE=44044
PORT_AUTH=44045
PORT_PROFILE=44046
PORT_CHAT=44047
PORT_REVIEWS=44048
PORT_ORDER=44049
PORT_NOTIFICATION=44050
